.header{
display:flex;
justify-content: space-evenly;
background-color: #D2C9B8;

}

.row{
    display:flex;
    justify-content:space-around;
    background-color:#faedca;
}

p{
color:black;
font-family: 'Questrial', sans-serif;
}

#headshot{
    width:20px;
    height:20px;
}


h1{
    font-size:60px;
    font-family: 'Anton', sans-serif;
}

body{
    background-color:#c7ccbb;
}

a:hover { 
    background-color: pink;
}

a{
    color:black;
}

img{
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
    

